**/UCF101
**/.vscode
**/.DS_Store
**/train/*
**/test/*
**/val/*
**/History_Plots/*
**/Confusion_Matrices/*

!train/.gitkeep
!test/.gitkeep
!val/.gitkeep
!History_Plots/.gitkeep
!Confusion_Matrices/.gitkeep