**/UCF101
**/.vscode
**/.DS_Store
**/__pycache__
**/train/*
**/test/*
**/val/*
**/History_Plots/*
**/Confusion_Matrices/*
**/CM_Test_Settings/*
**/Test_Results/*

!History_Plots/.gitkeep
!Confusion_Matrices/.gitkeep
!CM_Test_Settings/.gitkeep
!Test_Results/.gitkeep